
:root{
  --main-color: #E91E63;
  --transition:0.5s;
}

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
      font-family: 'Open Sans', sans-serif;
}
.container{
padding-left: 20px;
padding-right: 20px;
margin-left: auto;
margin-right: auto;
}
.main-header{
  text-align: center;
  font-size: 28px;
  color: var(--main-color);
}
/* start landing page */
.landing{
  position: relative;
  height: 100vh;
  background-image: url(../img/01.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  z-index: 0;
  transition: 2s;
}
.landing .overlay{
  position: absolute;
  top: 0;
  left: 0;
  background-color:rgba(0, 0, 0, 0.7);
  z-index: -1;
  width: 100%;
  height: 100%;
}

/* small*/
@media (min-width:767px) {
  .container{
    width: 750;
  }
}
/* mediam */
@media (min-width:992px) {
  .container{
    width: 970px;;
  }
}
/*Large*/
@media (min-width:1200px) {
  .container{
      width: 1120px;
  }
}
.landing .container .header-area{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
}
.landing{
  position: relative;
  z-index: 2;
}
.landing .bullet{
    position: fixed;
    right: 15px;
    top: 50%;
    transform: translatey(-50%);
    list-style: none;
    padding:0;
    z-index: 9999;
    display: none;
}
.landing .show{
    display: block;
}
.landing .bullet li{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    margin-bottom: 10px;
    position: relative;
}
.landing .bullet li a{
    width: 100%;
    height: 100%;
    display: block;
}
.landing .bullet li::before{
    position: absolute;
    content: "About Us";
    height: 17px;
    background-color: var(--main-color);
    right: 40px;
    top: 50%;
    transform: translatey(-50%);
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    padding: 0;
    transition: 0.1s;
}
.landing .bullet li:nth-child(1):before{
  content: "About Us";
}
.landing .bullet li:nth-child(2):before{
  content: "Our Skills";
}
.landing .bullet li:nth-child(3):before{
  content: "Our Gallery";
}
.landing .bullet li:nth-child(4):before{
  content: "timeline";
}
.landing .bullet li:nth-child(5):before{
  content: "Our Features";
}
.landing .bullet li:nth-child(6):before{
  content: "Testimonials";
}
.landing .bullet li::after{
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    right: 20px;
    border: 10px solid;
    border-color: transparent transparent transparent var(--main-color);
    top: -1px;
    display: none;
}
.landing .bullet li:hover:before{
  width: fit-content;
  padding: 10px 15px;
}
.landing .bullet li:hover::after{
  display: block;
}
/* settings */
.landing .settings{
    height: 100%;
    width: fit-content;
    position: fixed;
    z-index: 1;
    left: -202px;
    transition: var(--transition);
}
.landing .settingsActive{
  left: 0;
}
.landing .settingsActive .toggle-settings i{
  animation: spin 2s linear infinite;
}
@keyframes spin{
      from { transform: rotate(0deg); }
      to { transform: rotate(360deg); }
}
.landing .settings::before{
  position: absolute;
  content: "";
  width: 86%;
  height: 100%;
  background-color: #fff;
}
.landing .settings .content{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 33%;
}
.landing .settings .content .toggle-settings{
    color: black;
    background-color: #fff;
    padding: 5px 5px 5px 9px;
    cursor: pointer;
    position: relative;
    left: -3px;
}
.landing .settings .settings-container{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
}
.landing .settings .settings-container .coler
, .Background
, .Bullets{
    background-color: #777;
    padding: 8px;
    margin: 10px;
}
.landing .settings .settings-container h4{
  margin: 7px 0;
  font-weight: normal;
}
.landing .settings .settings-container .coler ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    max-width: 140px;
    margin: auto;
}
.landing .settings .settings-container .coler ul li{
  width: 19px;
  height: 19px;
  border-radius: 50%;
}
.landing .settings .settings-container .coler ul .active{
  border: 2px solid #fff;
}
.landing .settings .settings-container .Background button
, .Bullets button
{
    font-size: 14px;
    padding: 4px 11px;
    width: 45px;
    cursor: pointer;
    color: #fff;
    background-color: var(--main-color);
    opacity: 0.5;
    border: none;
    margin: 0 2px;
    border-radius: 5px;
}
.landing .settings .settings-container .active
{
  opacity: 1 !important;
}
.landing .settings .settings-container > button
{
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    background-color: var(--main-color);
    border: none;
    padding: 12px 34px;
    font-weight: bold;
    border-radius: 5px;
}
.landing .container .header-area h1{
  font-size: 17px;
}

.landing .container .header-area .menu{
  position: relative;
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  display: none;
  transition: var(--transition);
}
.landing .container .header-area .menu span{
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.landing .container .header-area ul{
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}
.landing .container .header-area ul li a{
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  transition: var(--transition);
  display: block;
  text-decoration: none;
  color: #fff;
}
.landing .container .header-area ul li a:hover{
  color: var(--main-color);
}
.landing .landing-area{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  width: 100%;
  padding: 0 10px
}
.landing .landing-area h3 span{
  color: var(--main-color);
}
.landing .landing-area h3{
  font-size: 34px;
  margin: 15px;
}
.landing .landing-area p{
  font-size: 20px;
  font-weight: normal;
}
@media (max-width:660px){
  .landing .container .header-area ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    padding: 0 12px;
    transition: var(--transition);
    height: 0px;
    overflow: hidden;
    z-index: 1;
    /* background-color:rgba(0, 0, 0, 0.2); */
  }
  .landing .container .header-area ul li{
    position: relative;
    background-color: #777;
    margin: 2px;
    width: 100%;
  }
  .landing .container .header-area ul li:hover{
    padding-left: 20px;
  }
  .landing .container .header-area .menu{
    display: flex;
  }
}
  .active-menu{
    justify-content: center !important;
    transition: var(--transition);
    background-color: #E91E63;
    border-radius: 50%;
    height: 30px !important;
    position: relative;
  }
    .active-menu:before {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    /* background-color: red; */
    right: -1px;
    bottom: -23px;
    border: 16px solid ;
    border-color: transparent transparent #777 transparent;
    z-index: 2;
  }
  .active-menu span{
    transition: var(--transition);
  }
  .active-menu span:first-child{
    position: absolute;
    transform: rotate(-45deg);
  }
  .active-menu span:nth-child(2){
    display: none;
  }
  .active-menu span:last-child{
    position: absolute;
    transform: rotate(45deg);
  }
  .header-area .active{
    height: 254px !important;
  }
/* end landing page */
/* start About Us */
  .about-us{
    min-width: 250px;
    margin: 50px 0;
  }
  .about-us .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .about-us .text{
    max-width: 500px;
    flex-basis: 50%;
  }
  .about-us h3{
    margin: 0;
    text-align: left;
  }
  .about-us p{
    color: #777;
    line-height: 1.6;
    font-size: 16px;
  }
  .about-us .imge{
    flex: 1;
    text-align: center;
    transform: translatey(0px);
}

  .about-us img{
    width: 250px;
    transform: translatey(14px);
    transition: 0.3s;
    animation: move 5s linear infinite;
  }
  @keyframes move{
0%, 100% {
    transform: translatey(0px);
}
50% {
    transform: translatey(20px);
}
}
  @media (max-width:660px){
    .about-us .container{
      flex-direction: column;
      text-align: center;
    }
}
/* end About Us */
/* start Our Skills */
  .our-skills{
    text-align: center;
    background-color: #eee;
    padding: 50px 0;  
  }
  .our-skills .box{
    background-color: #fff;
    width: 100%;
    height: 55px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
  }
  .our-skills .box h4{
    margin: 0;
    flex-basis: 10%;
  }
  .our-skills .box .on{
    width: 100%;
    height: 30px;
    background-color: #eee;
    flex: 1;
    border-radius: 5px;
  }
  .our-skills .box .info{
    border-radius: 5px;
    height: 100%;
    background-color: var(--main-color);
    transition: var(--transition);
    width:0px;
  }
    @media (max-width:660px){
      .our-skills .box h4{
        flex-basis: 23%;
      }
    }
/* end Our Skills */
/* start Our Gallery */
  .gallery{
    margin: 50px 0;
    position: relative;
  }
  .gallery .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  .gallery .container .box{
    padding: 3px;
    background-color: #eee;
    border: 1px solid #8a8a8a;
    position: relative;
    overflow: hidden;
    transition: 0.2s;
  }
  .gallery .container .box:hover{
    padding:0px;
  }

  .gallery .container .box::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 0px;
    height: 0px;
    background-color: #fff;
    opacity: 0.4;
  }
  .gallery .container .box:hover::before{
    width: 150%;
    height: 150%;
    opacity: 0;
    transition: 0.5s;
  }
  .gallery .container .box img{
    height: 100%;
    width: 100%;
  }
  .gallery .pop{
    width: fit-content;
    height: fit-content;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    display: none;
  }
.gallery .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    display: none;
}
  .gallery .active{
    display: block;
    z-index: 9;
  }
  .gallery .pop span{
    position: absolute;
    right: -15px;
    top: -15px;
    background-color: var(--main-color);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
  }
  .gallery .pop h4{
    margin: 15px;
    margin-bottom: 0;
    color: var(--main-color);
    font-size: 20px;
  }
  .gallery .pop img{
    width: 99%;
    height: calc(100% - 48px);
    padding: 15px;
  }
  @media( max-width:768px){
    .gallery .pop {
      width: 85%;
    }
  }
/* end Our Gallery */
/* start timeline */
.timeline {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #EEE; 
}
.timeline .timeline-content {
  position: relative;
  overflow: hidden;
}
.timeline .timeline-content:before {
  content: '';
  width: 2px;
  height: 100%;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  margin-left: -1px;
  top: 0;
}
.timeline .timeline-content .year {
  margin: 20px auto;
  width: 50px;
  background-color: var(--main-color);
  position: relative;
  z-index: 2;
  border-radius: 4px;
  text-align: center;
  color: #FFF;
  padding: 2px 5px;
  font-weight: bold;
}
.timeline .timeline-content .left,
.timeline .timeline-content .right {
  width: calc(50% - 25px);
  margin-bottom: 40px;
  position: relative;
}
@media (max-width: 767px) {
  .timeline .timeline-content .left, 
  .timeline .timeline-content .right {
    width: 100%;
    margin-bottom: 20px;
  }
  .timeline .timeline-content .left:before, 
  .timeline .timeline-content .right:before {
    display: none;
  }
  .timeline .timeline-content .left .content:before,
  .timeline .timeline-content .right .content:before {
    display: none;
  }
}
.timeline .timeline-content .left {
  float: left;
}
.timeline .timeline-content .left:before {
  right: -35px;
}
.timeline .timeline-content .right {
  float: right;
}
.timeline .timeline-content .right:before {
  left: -35px;
}
.timeline .timeline-content .left:before,
.timeline .timeline-content .right:before {
  content: '';
  width: 14px;
  height: 14px;
  background-color: #FFF;
  border: 3px solid var(--main-color);
  position: absolute;
  border-radius: 50%;
  top: 20px;
}
.timeline .timeline-content .content {
  padding: 20px;
  background-color: #FFF;
}
.timeline .timeline-content .content h3 {
  font-weight: bold;
  color: var(--main-color);
  margin: 0 0 10px;
}
.timeline .timeline-content .content p {
  color: #666;
  margin: 0;
  line-height: 1.6;
}
.clearfix {
  clear: both;
}
.timeline .timeline-content .left .content:before {
  content: '';
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent transparent #FFF;
  height: 0;
  width: 0;
  position: absolute;
  right: -20px;
  top: 20px;
}
.timeline .timeline-content .right .content:before {
  content: '';
  border-style: solid;
  border-width: 10px;
  border-color: transparent #FFF transparent transparent ;
  height: 0;
  width: 0;
  position: absolute;
  left: -20px;
  top: 20px;
}
/* end timeline */
/* start Our Features */
.features{}
.features .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20;
}
.features .container .panel{
  text-align: center;
}
.features .container .panel img{
  width: 30%;
  margin-top: 20px;
}
.features .container .panel h3{
  margin-bottom: 42px;
  margin-top: 10px;
  position: relative;
}
.features .container .panel h3::before{
    position: absolute;
    content: "";
    width: 13%;
    height: 3px;
    left: 50%;
    bottom: -24px;
    background-color: var(--main-color);
    transform: translatex(-50%);
}
.features .container .panel p{
  line-height: 30px;
  color: #777;
}
/* end Our Features */
/* start Testimonials*/
.testimonials{
  position: relative;
  padding: 45px 0;
  margin: 50px 0;
}
.testimonials::before{
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  left:50%;
  background-color: #333;
  z-index: -1;
}
.testimonials::after{
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  right:50%;
  background-color: var(--main-color);
  z-index: -1;
}

.testimonials .main-header{
  text-align: start;
  color: #fff;
}
.testimonials .container .content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.testimonials .container .card{
    flex-basis: 32%;
    min-width: 300px;
    background-color: #eee;
    padding: 15px;
}
.testimonials .container .card i{
    color: #777;
    font-size: 15px;
}
.testimonials .container .card h4{
  margin-bottom: 7px;
  margin-top: 40px;
}
.testimonials .container .card p{
  margin: 0;
  color: #777;
}
/* end Testimonials */
/* start Contact Us */
  .contact{
    background-image: url(../img/download.png);
    background-size: cover;
    height: 550px;
  }
  .contact h3{
    margin: 80px 0;
  }
  .contact .container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  .contact .container .left{
    width: 45%;
    min-width:320px;
  }
  .contact .container .right{
    width: 45%;
    min-width:320px;
  }
  .contact .container input
  ,textarea{
    display:block;
    border: 1px solid #d1d1d1;
    padding: 10px;
    width: 100%;
    &:focus{
      outline: none;
    }
    &:focus::placeholder {
    color: transparent;
    transition: var(--transition); 
    }
  }
  .contact .container .left input{
    margin: 10px 0;
    height: 40px;
  }
  .contact .container .right input{
    width: 100%;
    background-color: var(--main-color);
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
  }
  .contact .container .right textarea{
    height: 139px;
  }
 
/* end Contact Us */
/* start footer */
.footer{
  text-align: center;
  background-color: #333;
  color: #fff;
  width: 100%;
}
.footer p{
    font-size: 15px;
    margin: 0;
    padding: 17px
}
.footer p span{color: var(--main-color);}
/* end footer */